html {
 scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  
 }

 

 @font-face {
  font-family: overpass;
  src: url(/fonts/Overpass-VariableFont_wght.ttf);
 }

 @font-face {
  font-family: poppins;
  src: url(/fonts/Poppins-Bold.ttf);
 }

 @font-face {
  font-family: poppins regular;
  src: url(/fonts/Poppins-Regular.ttf);
 }

 /* general styling */

 h1,h2,h3,h4,p,span {
  margin: 0;
  padding: 0; 
 }

 code {
  background: linear-gradient(45deg,rgb(163, 145, 145), #241e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
 }

 pre {
  opacity: .5;
 }
 
 img {
     display: block;
     visibility: visible;
     z-index: 1000;
 }


 h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: poppins;
 }
 
 h2 {
  font-size: 2.5rem;
  margin: 5rem 0;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 1000;
 }

 h2::after {
  content: "#about me.";
  -webkit-text-stroke: 2px white;
  color: transparent;
  position: absolute;
  top: -1rem;
  left: 3rem;
  font-size: 3rem;
  opacity: .1;
 }

 h3 {
 }

 #skill::after {
  content: '#skills.';
 }

 #project::after {
  content: '#project.';
 }

 #contact::after {
  content: '#contact.';
 }

 p {
  font-size: .9rem;
  line-height: 1.5;
  opacity: .8;
 }

 p:not(.about-me p,.project p) {
  border-left: 2px solid white;
  padding-inline: 1rem;
  border-radius: .2rem;
 }

 .about-text {
  border-left: 2px solid white;
  padding-inline: 1rem;
  border-radius: .2rem;
 }

 section,article {
  padding: 5rem 2.5rem;
  margin-inline: auto;
 }

 .bubbles-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -100;
 }

 .bubbles {
  top: 0;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
 }

 .bubbles span {
  position: relative;
  width: 2px;
  height: 2px;
  background: white;
 /* box-shadow: 0 0 5px white,
  0 0 20px white,
  0 0 50px white;*/
  animation: bubbles 2s linear infinite;
  animation-duration: calc(50s / var(--i));
  animation-direction: alternate-reverse;
 
 }

 .bubbles span:nth-child(even) {
  background-color: white;
  box-shadow: 0 0 5px black,
  0 0 20px white,
  0 0 50px white;
 }

 @keyframes bubbles {
  0% {
    transform: translateX(100vw) scale(0) translateZ(0);
  }
  100% {
    transform: translateX(-100vw) scale(1) translateZ(0);
  }
 }

 /*  */
 
 
 :root {
  --secondary: #87CEEA;
  --primary: #373C49;
  --accent: #;
  --background: #0c192c;
 }

body {
 padding: 0;
 margin: 0;
 background: var(--background);
 background-color: #2a2a2a;
 background-color: black;
 color: white;
 overflow-x: hidden;
 font-family: overpass;
 overflow-x: hidden;
}



header {
 display: flex ;
 align-items: center;
 justify-content: space-between;
 margin: 1rem auto;
 padding-inline: 2rem;
}

.toggle-btn {
  width: 1.7rem;
  height: auto;
}

.toggle-btn .line {
  background-color: white;
  height: 2px;
  width: 100%;
  margin: .3rem;
  border-radius: .2rem;
  transition: all 200ms ease-in-out;
}

.toggle-btn:hover .line:nth-child(2) {
  /* width: 70%; */
}

.toggle-btn .line-width {
  width: 70%;
}

.active .nav-content a {
  opacity: 1;
  border-bottom: 1px solid grey;

}

nav a:nth-child(2) {
  transition-delay: 100ms;
}

nav a:nth-child(3) {
  transition-delay: 200ms;
}

.nav-content {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-content  a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: .2rem 0;
  margin: 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: all 300ms ease-in-out;
 
 }
 
 .nav-content  a:hover {
 border-bottom-color: white; 

 }

 .initials {
  font-size: 1.2;
  font-weight: bold;
  background: linear-gradient(45deg,rgb(211, 206, 206), #241e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: overpass;
 }

 /* bio container */

 .bio-container > .intro {
  display: flex;
  flex-direction: column;
  gap: .8rem;
 }

 /* about me */

 .about-me {
  position: relative;
  backdrop-filter: blur(10px);
  overflow: hidden;
 }

 .about-me img {
  width: 200px;
  height: 200px;
  display: none;
 }

 .about-me::after {
  position: absolute;
  content: '';
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 50%;
  right: -15rem;
  top: 10rem;
  z-index: -100;

 }

 .about-me .about-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

 /* skill */

 .skill {
  position: relative;
  overflow: hidden;
 }

 .skill::after {
  position: absolute;
  content: '</>';
  font-size: 15rem;
  width: 500px;
  height: 500px;
  transform: rotate(-35deg);
  color: rgba(255, 255, 255, 0.13);
  border-radius: 50%;
  left: -3rem;
  top: 25rem;

 }
 .skill .tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0 0 0;
 }

 .tech-stack .tech-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 50%;
  margin: .5rem 0 2rem 0;
  font-weight: 100;
  
 }

 .react {
  opacity: .4;
 }

 .tech-stack ig {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
  font-weight: 800;
 }

 /* projects */

 .project {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 100%;
  padding-top: 4rem;
 }

 .project .websites-built {
  width: 80%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;

 }

 .websites-built:hover img {
  border: 3px solid white;
  opacity: 1;
  filter: grayscale(0);
  /* transform: scale(1.1); */

 }

 .project .websites-built.left {
  margin-left: auto;
 }

 .websites-built img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
  filter: grayscale(60%);
  border-radius: .5rem;
  opacity: .8;
  transition: all 200ms ease-in-out;
 }

 .websites-built p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem .5rem;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.705);
  text-transform: lowercase;
  opacity: .8;
 }

 .websites-built p img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
 }

/* contact me */

.contact {
  position: relative;
  overflow: hidden;
}

.contact::after {
  position: absolute;
  content: '@';
  font-size: 15rem;
  width: 400px;
  height: 400px;
  transform: rotate(35deg);
  color: rgba(255, 255, 255, 0.13);
  border-radius: 50%;
  right: -11rem;
  top: 20rem;

 }
.platforms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.platforms .icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 100;
}

.icon-text img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
  
}

.icon-text a {
  color: white;
  text-decoration: none;
  margin: 1rem;
  font-weight: 300;
  opacity: .8;
  
}

.icon-text a:hover {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 700px) {
  header {
    display: none;
  }
}
